.experiencePreview {
  width: 100%;
}

.title {
  font-size: var(--font-size-title-sm);
  font-weight: 600;
  border-bottom: 1.5px solid black;
  max-width: 50%;
  padding-bottom: 0.3rem;

  margin-block: 0.4rem;
}

.experienceList {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.experienceItem {
  font-size: var(--font-size-base);
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.experience p {
  margin-block: 0;
}

.school {
  font-weight: 600;
}

.degree {
  font-style: italic;
}

.dateLoc {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
