@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter24pt-Regular.woff'),
    url('../fonts/Inter24pt-Regular.woff2');
}

/* Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

input[type='text'],
input[type='email'],
input[type='tel'] {
  outline: none;
}

/* Variables */
:root {
  /* Colors */
  --color-brand-primary: #ac1de4;
  --color-brand-primary-bg: rgba(192, 41, 240, 0.24);
  --color-background: hsl(0, 0%, 100%);
  --color-text: var(--color-dark);
  --color-text-muted: hsl(222, 11%, 36%);

  /* Section */
  --color-section-bg: hsl(210, 50%, 97%);
  --color-section-border: hsl(219, 20%, 80%);

  --color-dark: hsl(213, 24%, 7%);

  /* Button */
  --color-btn-primary: hsl(213, 24%, 7%);
  --color-btn-secondary: hsla(228, 10%, 90%, 0.451);
  --color-btn-outline: hsl(0, 0%, 100%);
  --color-hover-btn-primary: hsl(213, 24%, 14%);
  --color-hover-btn-secondary: hsla(228, 10%, 90%, 0.75);
  --color-hover-btn-outline: hsl(0, 0%, 95%);

  /* Space */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 2rem;
  --space-8: 2.5rem;
  --space-9: 3rem;
  --space-section: 1rem;

  /* Border */
  --radius-section: 10px;

  /* Font Size */
  --font-size-title-lg: clamp(1.25rem, 1.95vw, 2rem);
  --font-size-title-sm: clamp(0.75rem, 1.25vw, 1.25rem);
  --font-size-base: clamp(0.5rem, 1vw, 1.125rem);
  --space-gap-sm: clamp(0.4rem, 0.9vw, 1rem);
}

/* Utilities */
.primary-btn {
  background-color: var(--color-btn-primary);
  color: hsl(0, 0%, 100%);
}

.secondary-btn {
  background-color: var(--color-btn-secondary);
  color: var(--color-text-muted);
}

.outline-btn {
  background-color: var(--color-btn-outline);
  color: var(--color-dark);
  border: 2px solid var(--color-dark);
}

.primary-btn,
.secondary-btn,
.outline-btn {
  font-weight: 600;
}

.icon-btn {
  display: grid;
  place-items: center;

  background-color: #e3e4e873;
  color: var(--color-text-muted);
}

.btn-sm {
  border-radius: 4px;
}

.btn-md {
  border-radius: 6px;
  padding: var(--space-2) var(--space-5);
}

.btn-lg {
  border-radius: 10px;
  padding: var(--space-3) var(--space-5);
}

/* Body */
body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
}

/* App Layout */
#app {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  min-height: 100vh;
}

#main {
  z-index: 9;
  flex-grow: 1;
  padding: clamp(1rem, 2vw, 3rem);

  display: flex;
}

#header {
  z-index: 10;
  position: sticky;
  bottom: 0;
  left: 0;
}

.details-section {
  border: 1px solid var(--color-section-border);
  border-radius: var(--radius-section);
  background-color: var(--color-section-bg);
}

/* Form Styling */
.detailsForm {
  background-color: var(--color-background);
  padding: var(--space-section);
}

.detailsForm {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}

.inlineFormGroup {
  display: flex;
  align-items: center;
  gap: var(--space-section);
}

.formGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.formLabel {
  padding-left: var(--space-1);
  font-size: 14px;
  line-height: 16px;
}

.formInput {
  width: 100%;
  border-radius: 4px;
  padding: 0.75rem 1rem;

  background-color: var(--color-btn-secondary);
  border: 1px solid transparent;
}

.formInput:focus {
  border: 1px solid var(--color-dark);
  background-color: var(--color-background);
}

.formOptions {
  display: flex;
  justify-content: end;
  gap: var(--space-2);
}

.formOptionsBtn {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

@media (min-width: 768px) {
  .primary-btn:hover {
    background-color: var(--color-hover-btn-primary);
  }

  .secondary-btn:hover {
    background-color: var(--color-hover-btn-secondary);
    color: var(--color-dark);
  }

  .outline-btn:hover {
    background-color: var(--color-hover-btn-outline);
  }
}

@media (min-width: 1024px) {
  #app {
    flex-direction: column;
    justify-content: start;
  }
  #header {
    top: 0;
  }
}
