.personal p {
  margin: 0;
}

.personal ul {
  padding: 0;
}

.personal li {
  list-style-type: none;
}

.personal {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: clamp(1rem, 2.5vw, 4rem);
}

.fullName {
  font-size: var(--font-size-title-lg);
  font-weight: 700;
}

.jobTitle {
  font-size: var(--font-size-title-md);
  font-style: italic;
}

.infoList {
  font-size: var(--font-size-base);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--font-size-base);
}

.infoList svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
}

.infoList li {
  display: flex;
  align-items: center;
  gap: 4px;
}
