@font-face {
  font-family: 'SourceSerif4';
  src: url('../fonts/SourceSerif4-Regular.woff'),
    ('../fonts/SourceSerif4-Regular.woff2');
}

.previewWrapper {
  font-family: 'SourceSerif4', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 100%;

  border: 1px solid red;
}

.cvPreview {
  border: 1px solid blue;
  aspect-ratio: 794 / 1123; /* A4 proportion */
  height: auto;
  max-width: 794px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
