@font-face {
  font-family: 'SourceSerif4';
  src: url('../fonts/SourceSerif4-Regular.woff'),
    ('../fonts/SourceSerif4-Regular.woff2');
}

.previewWrapper {
  font-family: 'SourceSerif4', sans-serif;

  border: 1px solid red;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 100%;
}

.cvPreview {
  border: 1px solid blue;

  aspect-ratio: 794 / 1123; /* A4 proportion */
  width: 100%;
  height: auto;
  max-width: 794px;
}
